[project]
	description = FORK for adding MultiThreadedHttpConnectionManagerCleanUp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pema (marianp123)
[access "refs/for/refs/*"]
	read = group user/pema (marianp123)
	push = group user/pema (marianp123)
	label-Code-Review = -2..+2 group user/pema (marianp123)
	label-Verified = -1..+1 group user/pema (marianp123)
	rebase = group user/pema (marianp123)
	removeReviewer = group user/pema (marianp123)
	submit = group user/pema (marianp123)
[access "refs/heads/*"]
	read = group user/pema (marianp123)
	create = group user/pema (marianp123)
	push = +force group user/pema (marianp123)
	pushMerge = group user/pema (marianp123)
[access "refs/tags/*"]
	push = group user/pema (marianp123)
	push = +force group user/pema (marianp123)
